body{ 
  background-color: #F8FFES;
  
}
.container{
  width:1080px;
  heigth:200px;
  background-color:#4E4187;  
  text-color: #F8FFES;
}
H1{
text-align: center;  
}
p{
  text-align=justify;
  text-align=right;
}
