body{ 
  background-color: #F8FFES;
  
}
.container{
  width:300px;
  heigth:200px;
  background-color:#4E4187;
  text-align: center;
  text-color: black;
}
p{
  text-align=justify;
  text-align=right;
}
